<%- include('partials/_htmlhead') %>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <p>La page que vous cherchez n'existe pas.</p>
    </div>
    <%- include('partials/_htmlfoot') %>