<%- include('partials/_htmlhead') %>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <p>
            <%= message %>
        </p>
    </div>
    <%- include('partials/_htmlfoot') %>