<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/bonjour/charles">Bonjour</a>
        <a href="/bonjour/cn/charles">Ni hào</a>
        <a href="/form">Formulaire</a>
    </nav>